.line-graph-container {
  display: flex;
  justify-content: center;
}

.moving-avg-container {
  background: #373b47;
  margin-bottom: 10em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.moving-avg-card {
  height: 8em;
  width: 8em;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  background: #373b47;
  border: solid 1px #e0e0e0;
  color: #e0e0e0;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 1em;
}

.moving-avg-card:hover {
  transform: scale(1.1);
}

.moving-avg-card-inside {
  padding: 10%;
  width: 80%;
  height: 80%;
}

.moving-avg-card-inside > .top {
  height: 40%;
}


.moving-avg-card-inside > .top > .name {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 0.5em;
}

.moving-avg-card-inside > .top > .name > .icon {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  margin-right: 0.5em;
}


.moving-avg-card-inside > .bottom {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.moving-avg-card-inside > .bottom > .m-avg {
  font-size: 40px;
}

.time-select {
  margin-top: 2em;
  margin-right: 4em;
  display: flex;
  justify-content: flex-end;
}

.time-select > button {
  font-size: 16px;
  margin-left: 1em;
  font-weight: 100;
  border: solid 2px;
  border-color: #e0e0e0;
  width: 3em;
  height: 3em;
  border-radius: 1.5em;
}