.search-container {
  margin-top: 1em;
}

.search-card {
}

.search-card:hover {
  background: rgba(224, 224, 224, 0.5);
}

.search-box {
  margin-bottom: 1em;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  outline: none;
  border: none;
  width: 85%;
  margin-bottom: 12px;
  font-weight: 100;
  font-size: 20px;
  background: #4B423E;
  opacity: 0.5;
  color: #fff;
}

.search-box::placeholder {
  color: #fff;
  opacity: 0.6;
}

.product-btn {
  margin-top: 6px;
  margin-bottom: 6px;
  width: 100%;
  border: none;
  background: none;
  font-size: 20px;
  font-weight: 100;
  cursor: pointer;
}