button:focus {outline:0;}

.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-container {
  display: flex;
}

.sidebar-container {
  background: #1abc9c;
  width: 25%;
}

.content-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  background: #484856;
}

.line-graph-container {
  display: flex;
  justify-content: center;
}

.moving-avg-container {
  margin-bottom: 10em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.moving-avg-card {
  height: 8em;
  width: 8em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  background: #373b47;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

.moving-avg-card:hover {
  transform: scale(1.1);
}

.moving-avg-card-inside {
  padding: 10%;
  width: 80%;
  height: 80%;
}

.moving-avg-card-inside > .top {
  height: 40%;
}


.moving-avg-card-inside > .top > .name {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 0.5em;
}

.moving-avg-card-inside > .top > .name > .icon {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  margin-right: 0.5em;
}


.moving-avg-card-inside > .bottom {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.moving-avg-card-inside > .bottom > .m-avg {
  font-size: 36px;
  opacity: 0.6;
}

.time-select {
  margin-top: 2em;
  margin-bottom: 1em;
}

.time-select > button {
  font-size: 20px;
  font-weight: 100;
  border: solid 2px;
  border-color: #e0e0e0;
}