.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: center;

}

.App-container {
  display: flex;
}

.sidebar-container {
  background: #1abc9c;
  width: 25%;
}
